@import url('https://fonts.googleapis.com/css2?family=Cinzel:wght@400..900&display=swap');
/* UI */
@import "./ui/icons.css";
@import "./ui/button.css";
@import "./ui/card.css";
@import "./ui/input.css";
/*  */
@import "./all.css";
@import "./body.css";
@import "./components/header.css";
@import "./components/main/main.css";
@import "./components/footer.css";

:root {
    --color-blur: rgba(255, 255, 255, 0.623);
    /* colors */
    --gray-50: #e4e4e4;
    --gray-100: #cccccc;
    --gray-200: #b9b9b9;
    --gray-300: #979797;
    --gray-400: #7a7a7a;
    --gray-500: #646464;
    --gray-600: #4d4d4d;
    --gray-700: #414141;
    --gray-800: #2e2e2e;
    --gray-900: #252525;
    /* cyan */
    --cyan-50: rgb(202, 253, 253);
    --cyan-100: rgb(175, 248, 248);
    --cyan-200: rgb(162, 247, 247);
    --cyan-300: rgb(147, 248, 248);
    --cyan-400: rgb(131, 255, 255);
    --cyan-500: rgb(120, 255, 255);
    /* greens */
    --green-50: #d3ffdd;
    --green-100: #bcfccb;
    --green-200: #9cf7b1;
    --green-300: #80f59b;
    --green-400: #7bff9a;
    --green-500: #70fc90;
    /* paddings */
    --default-pd: 8px;
    /* Gaps */
    --mini-gap: 4px;
    --default-gap: 8px;
    --huge-gap: 12px;
    /* borders */
    --default-radius: 10px;
    /* fonts */
    --default-font-color: var(--gray-900);
    --fz-1: 20pt;
    --fz-2: 18pt;
    --fz-3: 16pt;
    --fz-4: 14pt;
    --fz-5: 12pt;
    --fz-6: 10pt;
}

main {
    --font-cinzel-normal: normal 500 10pt "Cinzel", serif;
    /* banner */
    --banner-height: 300px;
    --banner-height-md: 250px;
    --banner-height-sm: 200px;
    --banner-width: 100%;
}

.btn {
    /* padding */
    --btn-pd:8px 10px;
    /* Green */
    --b-c-fill-green: #00ff37;
    --b-c-hover-green: #35eb5c;
    --b-c-clicked-green: #a6ffb9;
    /* Default color */
    --b-default-color: var(--gray-50);
    --b-default-hover: var(--gray-100);
    --b-default-clicked: rgb(235, 235, 235);
    /* default sizes */
    --b-default-ic-size: 20px;
}

.card {
    --card-title-fz: 16pt;
}